div.bandeau {
    background-color:rgb(102, 102, 212);
    color:rgb(8, 8, 8);
    padding:25px;
    text-align: center;
   }
div.contenu{
    background-color:rgb(248, 252, 4);
    color:rgb(8, 8, 8);
    padding: 400px;
    text-align: center;
   
   }
div.pied {
    background-color:rgb(43, 182, 43);
    color:rgb(8, 8, 8);
    padding: 25px;
    text-align: center;
   
   }
 div.menuhaut {
    background-color:rgb(252, 4, 240);
    color:rgb(7, 7, 7);
    padding: 45px;
    width: 190px;
    height:700px;
    float: left;
    text-align:center;
    line-height: 45em;
   }
div.menuBas {
    background-color:rgb(78, 150, 84);
    color:rgb(7, 7, 7);
    padding: 45px;
    width:185px;
    height:360px;
    float: left;
    text-align:center;
    
   }
div.style6 {
    background-color:rgb(17, 190, 32);
    color:rgb(7, 7, 7);
    padding: 25px;
    width:185px;
    height:360px;
    float: left;
    text-align:center;
    
   }
     